$white: #fff;
$red: #921;
$gradient-purple: #304;
$gradient-red: #810;

@font-face {
    font-family: 'Akhand Semibold';
    src: url('/fonts/Akhand-Semibold.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Akhand Light';
    src: url('/fonts/Akhand-Light.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
      font-family: 'home';
      src: url('icons/font/home.eot');
      font-weight: normal;
      font-style: normal;
      src: url('../icons/font/home.eot');
    }
html {
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  margin: 0;
  padding: 0;
  overflow:-moz-scrollbars-vertical;
  overflow:scroll;
}

body {
	font: 100% "Source Sans Pro", sans-serif;
  background: url("../img/layout/Untitled.png") fixed;
  font-weight: 300;
	color:#111;
	line-height:1.7;
}

/*** Header + Logo ***/
header {
	height:96px;
  width:100%;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  background:#111;
	position:fixed;
	top:0;
  left: 0;
  z-index:1;
  transition: all .3s;
}

header svg {
  position:absolute;
  height: 62px;
  width: 62px;
  top:50%;
  margin-top: -31px;
  background: linear-gradient(to bottom right, rgba(255,255,255,1) 0% , rgba(255,255,255,0.8) 99%);
  transition: all .3s;
}

header.smaller svg {
  width: 46px;
  height: 46px;
  top:50%;
  margin-top: -23px;
}

header.smaller {
  height: 64px;
}
.container {
	max-width:900px;
	margin: auto;
}

/*** Nav ***/
body#home a#home-nav,
body#onas a#onas-nav,
body#dozor a#dozor-nav,
body#projekce a#projekce-nav,
body#reference a#reference-nav,
body#kontakt a#kontakt-nav {
	color:#fff;
}
nav {
	float:right;
}
nav a {
	display: inline-block;
	font-size:0.75em;
	text-transform:uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
	color:#888;
	line-height: 96px;
  margin: auto 15px auto 15px;
  transition: all .3s;
}
header.smaller nav a {
  line-height:64px;
  margin: 0 0 0 15px;
}
nav a:hover {
  color:#fff;
  transition: all .3s;
}

header .title {
  margin-left: 75px;
  font-family: "Akhand Light", sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height:96px;
  color: #fff;
  transition: all .3s;
}
header.smaller .title {
  font-size: 24px;
  line-height: 64px;
  margin-left: 57px;
}

/*** Content ***/
main {
  display: block;
  max-width:768px;
  margin: 138px auto 50px;
  background-color: rgba(255, 255, 255, 1);
  z-index:0;
  box-sizing:border-box;
  padding:8px 30px 20px;
  overflow:hidden;
  font-size: 1em;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1),
              0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1),
              0 1px 1px rgba(0, 0, 0, 0.2),
              0 8px 0 -3px #fff,
              0 9px 1px -3px rgba(0, 0, 0, 0.4),
              0 16px 0 -6px #fff,
              0 17px 2px -6px rgba(0, 0, 0, 0.4);
}

main:before {
  width: 100%;
  height: 100%;
  max-width: 768px;
  margin: 138px auto 50px;
  content: "";
  opacity: 0.2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}
body#home main:before {
  background: url("");
}
body#onas main:before {
  background: url("/img/onas.png") 100% -20px no-repeat;
}
body#dozor main:before {
  background: url("/img/dozor.png") 100% 20px no-repeat;
}
body#projekce main:before {
  background: url("/img/projekce.png") 100% 30px no-repeat;
}
body#reference main:before {
  content: normal;
}
body#kontakt main:before {
  background: url("/img/kontakt.png") 100% 50px no-repeat;
}

.col {
	float: left;
	width: 344px;
  overflow: hidden;
}

/*** Links ***/
a {
	color: $red;
	text-decoration:none;
	font-weight: 600;
}
a:hover,a:active,a:link {
	outline:0px none;
}

/*** Text Properties ***/
.p-inline {
  display: inline;
}
h1 {
  display: inline-block;
	text-transform:uppercase;
  font-family: "Akhand Semibold", sans-serif;
	font-weight: normal;
	font-size:3.5em;
  margin: 5px auto -10px auto;
  background: -webkit-linear-gradient(left, $gradient-purple, $gradient-red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
	font-size:1em;
	display:inline;
  font-weight: 600;
}
.projekce-heading {
  font-weight: 600;
}
strong {
  font-weight: 600;
  text-transform: uppercase;
}
h4 {
	text-transform:uppercase;
  display: inline-block;
  font-family: "Akhand Semibold", sans-serif;
	font-weight: normal;
	font-size:1.5em;
  background: -webkit-linear-gradient(left, $gradient-purple, $gradient-red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*** Reference ***/
label {
  display:block;
  margin: 21px 10px 20px 10px;
	line-height: 24px;
	float:left;
	width:212px;
	height:24px;
  border: 1px solid $gradient-red;
  border-radius: 2px;
	font-size: 0.75em;
  font-weight: 600;
  background: linear-gradient(#eee 0, #fff);
	cursor:pointer;
  text-align: center;
}
label:hover {
  background: linear-gradient($gradient-red 0, $red);
  color: $white;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}
input[type="radio"] {display:none;}
input[type="radio"]:checked + label  {
  background: linear-gradient($gradient-red 0, $red);
  color: $white;
  box-shadow: 0 1px 0 0 $gradient-red;
}

input[type="radio"][id="rd"]:checked ~ .bd, input[type="radio"][id="rd"]:checked ~ .os,
input[type="radio"][id="bd"]:checked ~ .rd, input[type="radio"][id="bd"]:checked ~ .os,
input[type="radio"][id="os"]:checked ~ .rd, input[type="radio"][id="os"]:checked ~ .bd {
  margin: 0;
  padding: 0;
  width:0;
	height:0;
	opacity:0;
}
.ref-item {
  float: left;
  display: inline-block;
  position: relative;
  width: 351px;
  height: 290px;
  text-align: center;
  transition: opacity .7s;
  overflow: hidden;
}
.ref-hover-container {
  overflow: hidden;
  width: 333px;
  height: 222px;
  margin: 0 auto;
}
.ref-img-container {
  width: 333px;
  height: 222px;
  background: #eee;
  box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,0.1),
              inset 1px 1px 0px 0px rgba(0,0,0,0.1);
  transition: .3s;
}
.ref-heading {
  display: block;
  position: absolute;
  top: 210px;
  left: 10px;
  text-align: left;
}
.ref-list {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 35px;
  list-style-type: disc;
  text-align: left;
  color: #fff;
  font-weight: 400;
  opacity: 0;
  transition: .3s;
}

.ref-item:hover > .ref-list {
  opacity: 1;
}
.ref-item:hover .ref-img-container {
  text-align: center;
  transform: scale(1.08);
  -moz-transform: scale(1.08) rotate(0.01deg);
  overflow: hidden;
}
.ref-item:hover .ref-img-container:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsla(0,0%,0%,0.6);
}
/*** Selection ***/
::selection {
  background: #a2493e;
  color: #fff;
}
::-moz-selection {
  background: #a2493e;
  color: #fff;
}

.color444 {
  color: #544;
}
header .dropdown {
  display: none;
}

.circle {
  margin: 0 3px 2px 0;
  display: inline-block;
  border: 2px solid #444;
  border-radius: 60px;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 14px;
  width:14px;
  height:14px;
  text-align: center;
  vertical-align: middle;
}

.category {
  font-weight: 600;
}
.google-maps {
  display: block;
  position: relative;
  padding-bottom: 60%;
  overflow: auto;
  min-width: 240px;
  margin-bottom: 25px;
}
.google-maps iframe {
  float: left;
  display: block;
  overflow: auto;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

/*** Responsive ***/
@media screen and(max-width: 788px) {
    .ref-item {
      width: 100%;
    }
    .ref-hover-container {
      width: 100%;
    }
    .ref-img-container {
      width: 100%;
      text-align: center;
    }
    label {
    	width:100%;
      margin: 10px 10px 10px 0px;
    }
    .cont {
      height: auto;
      width: 100%;
      max-width: 335px;
      margin: 9px 0;
    }
    aside {
      display: none;
    }
    main, main:before {
      margin-top: 106px;
    }

    header.smaller {
      height: 96px;
    }
    header.smaller svg {
      width: 62px;
      height: 62px;
      top:50%;
      margin-top: -31px;
    }
    header.smaller .title {
      margin-left: 75px;
      font-size: 32px;
      line-height:96px;
    }
    nav a {
      display:none;
    }
    header .dropdown {
      display: inline-block;
      float:right;
      width:96px;
      height:96px;
      line-height: 96px;
      text-align: center;
      margin-right: -20px;
    }
    .dropbtn:focus {
      outline:0;
    }
    .dropbtn {
      background-color: #111;
      color: #888;
      padding: 0;
      width:96px;
      height:96px;
      font-family: "Home";
      font-size: 16px;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      border: 1px solid #888;
      font-size: 0.875em;
      z-index: 10;
      position: absolute;
      left:0;
      top: 96px;
      height: 300px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.95);
    }
    .drop {
      padding-bottom: 50px;
    }
    .dropdown-content a {
      left: 0px;
      color: #444;
      width: 100%;
      float: left;
      text-transform:uppercase;
      position: absolute;
    }
    .dropdown-content a:hover {
      color: #d33;
    }
    .show {display:block;}
    body#home a#home-nav,
    body#onas a#onas-nav,
    body#dozor a#dozor-nav,
    body#projekce a#projekce-nav,
    body#reference a#reference-nav,
    body#kontakt a#kontakt-nav {
    	color:#f23;
    }
}
q {
    display: inline-block;
    font-family: "Pridi", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1em;
    height: 54px;
    padding: 5px 10px 30px;
    background: url("/img/quot.png") 10% 20px no-repeat;

    &:before {
      content: "\201e";
    }
    &:after {
      content: "\201c";
    }
}

.container-index {
  display: block;
  position: relative;
  max-width: 638px;
  margin: 0 auto;
}
.index-box {
  display: block;
  position: relative;
  float: left;
  width: 44%;
  height: 170px;
  margin: 2.5%;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #aaa;
  border-radius: 3px;
  transition: .3s;
  font-weight: 300;
  color: #111;
}

.index-box:first-child,
.index-box:nth-child(3) {
  margin-left: 0;
}
.index-box:nth-child(2),
.index-box:nth-child(4) {
  margin-right: 0;
}
.index-box:hover {
  border: 1px solid #666;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.3),
              0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 2px 6px 2px rgba(0, 0, 0, 0.1);
}

@media screen and(max-width: 727px) {
  .index-box {
    width: 44%;
    margin: 2%;
  }
  .index-box:first-child,
  .index-box:nth-child(3) {
    margin-left: 0;
  }
  .index-box:nth-child(2),
  .index-box:nth-child(4) {
    margin-right: 0;
  }
}
@media screen and(max-width: 645px) {
    .index-box {
    width: 95%;
    margin: 5px auto;
  }
}
.on-right {
  position: absolute;
  max-width: 638px;
  margin: -35px auto 5px;
  right:0;
  color: $red;
}
.on-right-box {
  position: absolute;
  right: 10px;
  bottom: -8px;
  color: $red;
}
.fadeout {
  content: "";
  position:relative;
  overflow:hidden;
  margin-top: 0;
  text-overflow: ellipsis;
  color: #111;
}
.fadeout::before {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background:linear-gradient(transparent 50px, white);
}
.contact-big {
  font-size: 1.25em;
  margin: 20px auto 0 auto;
  text-align: center;
  font-weight: 300;
  color: #111;
}
#screenshot{
	position:absolute;
	border:1px solid #ccc;
	background:#111;
  font-size: 0.875em;
  text-align: center;
  font-weight: 600;
	padding:5px;
	display:none;
	color:#fff;
}
.screenshot {
  cursor: default;
}
.slider-overflow {
  overflow: hidden;
  max-width: 638px;
  max-height: 440px;
  margin: auto;
}
.slider {
  max-width: 638px;
  margin: auto;
}
